.box {
    width: 250px;
    height: 150px;
    margin : 20px;
    padding : 10px;
    color : white;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;
    border: 3px solid black;

}
.red {
    background: black;
}

.green {
    background: yellow;
}

.blue {
    background: skyblue;
}

.styling_text {
    display: flex;
    padding : 20px;
    background: #222;
    gap : 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;


}
    .item {
    width: 120px;
    height: 120px;
    color: black;
    font-size: 30px;
    text-align: center;
    line-height: 120px;
    margin: 10px;
    border-radius: 10px;
    }
.a { background: rgb(0, 255, 221);
    height: 160px;}
.b { 
    background: rgb(212, 65, 225);
    height: 150px; }
.c { background: rgb(139, 133, 46); }

.text_styling {
    font-size : 50px;
    color : white;
    text-align : center;
    margin-top : 100px;
    text-shadow : 3px 3px 10px red;
    transition : 0.3s ease;
}

.text_styling:hover {
    color: cyan;
    text-shadow: 0px 0px 20px cyan;
}
