/* .card {
  border : 1px solid hsl(0,0%,80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  /*
  display: inline-block; is for maintaining the shape of the card if the screen is stretch
  */
  /* display: inline-block;

}

.card .card-Image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .gammer-name{
  font-family: Arial, Helvetica, sans-serif;
  margin : 0;
  color : hsl(0,0%,20%);


}

.class .about-gamer{
    font-family: Arial, Helvetica, sans-serif;
    color : hsl(0,0%,30%);

